<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sugarcubes.myglucose">

    <!-- Uncomment to use Location in PedometerService: -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SYNC PERMISSIONS: -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Created .dependencies.Dependencies as an application and require it here: -->
    <application
        android:name=".dependencies.Dependencies"
        android:allowBackup="true"
        android:icon="@mipmap/icon_no_bg"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Content Provider -->
        <provider
            android:name=".contentproviders.MyGlucoseContentProvider"
            android:authorities="com.sugarcubes.myglucose.provider"
            android:exported="false" />

        <!-- Declare the service which *uses* the SyncAdapter -->
        <service
            android:name=".services.SyncService"
            android:exported="true"
            android:process=":myglucose_sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- Authenticator Service -->
        <service
            android:name=".services.AuthenticatorService"
            android:exported="false"
            android:process=":myglucose_authenticator">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Exercise Detector Service -->
        <service
            android:name=".services.PedometerService"
            android:exported="false"
            android:process=":myglucose_exercise_detector" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LogExerciseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.LogGlucoseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_log_glucose"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LogMealActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_log_meals"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ViewExerciseEntryActivity"
            android:label="@string/view_latest_entry"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.LogExerciseActivity" />
        </activity>
        <activity android:name=".activities.ViewExerciseHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.ViewExerciseEntryActivity" />
        </activity>
        <activity
            android:name=".activities.ViewGlucoseEntryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.LogGlucoseActivity" />
        </activity>
        <activity android:name=".activities.ViewGlucoseHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.ViewGlucoseEntryActivity" />
        </activity>
        <activity
            android:name=".activities.ViewMealEntryActivity"
            android:label="@string/title_activity_view_latest_meal_entry"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.LogMealActivity" />
        </activity>
        <activity
            android:name=".activities.ViewMealEntryHistoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.LogGlucoseActivity" />
        </activity>
        <activity
            android:name=".activities.ViewProfileActivity"
            android:label="@string/view_profile_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sugarcubes.myglucose.activities.MainActivity" />
        </activity>
    </application>

</manifest>